<h1>Bookings overview</h1>
<div class="m-4">

  <div class="container">
    <h2>Your rentals 🚘</h2>
    <div class="row">


        <% current_user.bookings.each do |booking| %>
          <%= render 'card', booking: booking, car: booking.car %>
        <% end %>


    </div>
  </div>
    <div class="m-4">
          <h2 class='mb-4'>🚘Past Rentals🚘</h2>

        <div class="container">

          <div class="row">
              <% current_user.bookings.each do |booking| %>
                <% if booking.date_until < Date.today + 5%>
                  <%= render 'past_booking_card', booking: booking, car: booking.car %>
                <% end %>
              <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
