<%# TEST %>
<div class="m-4">
  <div class="container">
    <h1 class='mb-4'>Welcome to the garage</h1>
    <h2 class='mb-4'>Cars that you own 🚘</h2>
      <% if @cars %>
        <div class="row">

          <% @cars.each do |car| %>
            <%= render "/shared/car_card_garage", car: car %>
          <% end %>

        </div>
      <% end %>
    <%= link_to "Add a new car", new_car_path %>
  </div>
  <div class="m-4">
    <% if current_user.owner == true %>
      <div class="container">

        <h2 class='mb-4'>🚘Cars that you are renting🚘</h2>
        <div class="row">
          <% current_user.cars.each do |car| %>
            <% car.bookings.each do |booking| %>
              <%= render 'bookings/card', booking: booking %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
