<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://t3.ftcdn.net/jpg/06/19/65/78/240_F_619657847_0o4k903fqUptwMXHM27rrrNFskBYaghe.jpg)">
  <%= "Car Rating ⭐️ #{Car.review_avarage(@car).round(2)} " %>
</div>
