<div id="carouselExample" class="carousel slide mb-4">
    <div class="carousel-inner">
      <% params[:photos].each_with_index do |photo_url, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <%= image_tag(photo_url, class: "d-block w-100", alt: "Car Image") %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
