<div class="container">
  <div class="d-flex justify-content-between">
  <h1>All Avaiable Cars</h1>
<p>Find me in app/views/cars/index.html.erb</p>
<%# <%= cl_image_tag("https://res.cloudinary.com/dnvzgtwcu/image/upload/v1693252088/samples/ecommerce/car-interior-design.jpg", %>
<%# width: 400, height: 300, crop: :fill) %>
