<div class="container">
  <div class="d-flex justify-content-between">
  <h1>All Avaiable Cars</h1>
<p>Find me in app/views/cars/index.html.erb</p>
<<<<<<< HEAD
<%= cl_image_tag("https://res.cloudinary.com/dnvzgtwcu/image/upload/v1693254847/nuqd75myrokroyzkeqwf.jpg",
      width: 400, height: 300, crop: :fill) %>
=======

<div class="container">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="col-3">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
          <h1 class="text-light"> <%= car.title %></h1>
            <p class="text-light"><%= car.brand %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
>>>>>>> 8fc23d1688eee1e5de1d81c63c520c92a98ac5b9
