<div class="container justify-content-center">
    <%= render "cars/car_info", car: @car %>
</div>



<div class="container text-center">
  <%= link_to '⬅ Back to all cars', cars_path, class: 'btn btn-primary my-4' %>

  <h3>Comments from past renters</h3>

  <div class="row">
    <% @reviews.first(3).each do |review| %>
      <%= render "reviews/card", review: review %>
    <% end %>
  </div>
</div>
