<div class="container justify-content-center">
    <%= render "cars/car_info", car: @car %>
</div>



<div class="container">
  <div class="row my-6">

    <%= link_to 'Back to all cars', cars_path %>
    <%= link_to 'Add a review', new_car_review_path(@car), class: "d-inline" %>

    <div>
      <p>Reviews for this car</p>
      <%= render "reviews/card", reviews: @reviews %>
    </div>
  </div>
</div>
